{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 60px;	
		}
	</style>
{% endblock head %}


{% block content %}

	
{% for pokemon in pokedex %}
	<p>{{pokemon.pokemon_name}} : 
		type {{pokemon.pokemon_type}}</p>
<img src='static/images/{{pokemon.pokemon_image}}'>	
{% endfor %}



	<!-- <div class='row'>

		<div class="col-md-4">
			<img src='static/images/{{list_dir.0}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.2}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.3}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.4}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.5}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.6}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.7}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.8}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.9}}'>
		</div>

	</div> -->



{% endblock content %}

