{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 60px;	
		}
	</style>
{% endblock head %}


{% block form %}

	<form class="navbar-form navbar-left" method='POST' action='/searchPOST'>
		
		{% csrf_token %}

	  <div class="form-group">
	    <input type="text" name='searchstring' class="form-control" placeholder="Search">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	
	</form>


{% endblock form %}


{% block content %}

	<h1>You Searched for {{search_string}} </h1>

	<p>Results:</p>

	{% for key,value in result_arr %}
		<p>{{key}}</p>
		<img src='{{value}}'>
	{% endfor %}


{% endblock content %}

